@font-face {font-family: "ComoW01-Bold"; src: url("//db.onlinewebfonts.com/t/d04ad15ef66bc1f1295f87feee19dee2.eot"); src: url("//db.onlinewebfonts.com/t/d04ad15ef66bc1f1295f87feee19dee2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d04ad15ef66bc1f1295f87feee19dee2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d04ad15ef66bc1f1295f87feee19dee2.woff") format("woff"), url("//db.onlinewebfonts.com/t/d04ad15ef66bc1f1295f87feee19dee2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d04ad15ef66bc1f1295f87feee19dee2.svg#ComoW01-Bold") format("svg"); }

html { 
    background: url('/assets/images/no-txttt.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#date_val{
    /* margin-top: 1px; */
    font-size: 33px;
    color: rgb(69, 80, 100);
    font-weight: bold;
    font-family: "ComoW01-Bold";
}

#days_val{
    /* margin-top: 100px; */
    font-size: 20px;
    color: rgb(69, 80, 100);
    font-weight: bold;
    font-family: "ComoW01-Bold";
}

#qr{
    /* margin-top: 100px; */
    font-size: 15px;
    color: rgb(120,132,158);
    font-family: "ComoW01-Bold";
}

#date-div{
    margin-top: 94.96%;
}

#days-div{
    margin-top: 1px;
}

#qr-div{
    margin-top: 57.5%;
}
